@import 'bootstrap/scss/functions';
@import 'functions';

@import 'bootstrap/scss/variables';
@import 'variables';

@import 'bootstrap/scss/mixins';
@import 'mixins';


// BOOTSTRAP
// @import 'bootstrap/scss/print';
@import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/type';
// @import 'bootstrap/scss/images';
// @import 'bootstrap/scss/code';
@import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/forms';
// @import 'bootstrap/scss/buttons';
// @import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
// @import 'bootstrap/scss/input-group';
// @import 'bootstrap/scss/custom-forms';
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/jumbotron';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/media';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/modal';
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/utilities';


// VENDOR
// @import 'vendor/flickity';


// PARTIALS
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/header';
@import 'partials/footer';

@import 'partials/block-debt-maturity';


body.debug {
  &:after {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: gold;
    line-height: 1;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999999999;

    @each $breakpoint, $value in $grid-breakpoints {
      @include media-breakpoint-only($breakpoint) {
        content: '#{$breakpoint}';
      }
    }
  }
}
