.block-debt-maturity {
  padding-top: 100px;
  padding-bottom: 140px;
  color: #343434;
  background-color: #F6F6F6;

  .container {
    max-width: 940px;
    margin: 0 auto;
  }

  &__chart {
    display: flex;
    justify-content: space-around;
    height: 560px;

    &-legend {
      display: flex;
      align-items: center;
      max-width: 420px;
      margin-top: 72px;
      margin-bottom: 54px;
      padding-bottom: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      color: #888888;
      border-bottom: 1px solid #D8D8D8;

      &__year {
        display: flex;
        align-items: center;
        color: #212121;
        margin-left: 48px;

        .colour {
          display: block;
          width: 10px;
          height: 10px;
          margin-right: 8px;
        }
      }
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;

      &__line  {
        position: relative;
        display: block;
        width: 4px;
        margin: 0 6px;

        span {
          display: block;
          position: absolute;
          top: 4px;
          font-size: 16px;
          font-weight: bold;
          line-height: 1;
        }

        &:nth-child(1) {
          span {
            right: 100%;
            margin-right: 8px;
          }
        }

        &:nth-child(2) {
          span {
            left: 100%;
            margin-left: 8px;
          }
        }
      }

      &__label {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 120px;
        margin-top: 18px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        transform: translateX(-50%);
      }
    }
  }
}
