{% extends 'base.twig' %}

{% block content %}
  {% set lines_chart_years_setup = [
    {
      'year': 2018,
      'colour': '#81b848'
    }, {
      'year': 2017,
      'colour': '#aaaaaa'
    }
  ] %}

  {% set lines_chart_data = [
    {
      'maturity': 'Maturity between <br> 1-2 years',
      '2018': 770,
      '2017': 831
    }, {
      'maturity': 'Maturity between <br> 2-3 years',
      '2018': 539,
      '2017': 965
    }, {
      'maturity': 'Maturity between <br> 3-4 years',
      '2018': 795,
      '2017': 265
    }, {
      'maturity': 'Maturity between <br> 4-5 years',
      '2018': 505,
      '2017': 815
    }, {
      'maturity': 'Maturity <br> > 5 years',
      '2018': 165,
      '2017': 648
    }, {
      'maturity': 'Maturity <br> > 1 year',
      '2018': 230,
      '2017': 618
    }
  ] %}

  {% set lines_chart_highest_value = 0 %}

  {% for year_setup in lines_chart_years_setup %}
    {% for item in lines_chart_data %}
      {% set value = item[year_setup.year] %}

      {% if value > lines_chart_highest_value %}
        {% set lines_chart_highest_value = value %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <section class="block-debt-maturity">
    <div class="container">
      <h2>Debt Maturity</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>

      <div class="block-debt-maturity__chart-container">
        <div class="block-debt-maturity__chart-legend">
          <span class="block-debt-maturity__chart-legend__text">In Millions of $ USD</span>

          {% for year_setup in lines_chart_years_setup %}
            <span class="block-debt-maturity__chart-legend__year">
              <span class="colour" style="background-color: {{ year_setup.colour }};"></span>

              {{ year_setup.year }}
            </span>
          {% endfor %}
        </div>

        <div class="block-debt-maturity__chart">
          {% for item in lines_chart_data %}
            <div class="block-debt-maturity__chart-item">
              {% for year_setup in lines_chart_years_setup %}
                <span class="block-debt-maturity__chart-item__line" style="background-color: {{ year_setup.colour }}; height: {{ item[year_setup.year] / lines_chart_highest_value * 100 }}%;">
                  <span style="color: {{ year_setup.colour }};">{{ item[year_setup.year] }}</span>
                </span>
              {% endfor %}

              <span class="block-debt-maturity__chart-item__label">
                {{ item.maturity }}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
